{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    <div class="container">
        <div class="login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Prisijungti</h1>
            <label for="inputUsername" class="sr-only">Vartotojas</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Vartotojo vardas" required autofocus>
            <label for="inputPassword" class="sr-only">Slaptažodis</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Slaptažodis" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Prisiminti mane
                </label>
            </div>

            <button class="call-to-btn" type="submit">
                Prisijungti
            </button>
        </div>
        <div class="container text-center mb-5" >
            <p>Jei pamiršote prisijungimo duomenis, kreipkitės į mus el. paštu:</p>
            <a href="mailto:foodsharinglithuania@gmail.com" class="btn-outline-primary">foodsharingLithuania@gmail.com</a>
            <p>arba</p>
            <a href="{{ path('app_register') }}" class="btn btn-primary">Eiti į registraciją</a>
        </div>
    </div>
</form>
{% endblock %}
