{% extends 'base.html.twig' %}

{% block title %}{{ 'Curly Brackets {}'}}{% endblock %}

{% block body %}
    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
    <a class="nav-link" href="{{ path('app_register') }}">Register</a>


{% endblock %}

