{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row justify-content-center my-5">
        <div class="col-md-6 text-right">
            <button class="btn btn-success">{{ button_label|default('Išsaugoti') }}</button>
        </div>
{{ form_end(form) }}
