{% extends 'base.html.twig' %}

{% block title %}Keisti savo vietą{% endblock %}

{% block body %}
    <h1>Atnaujinti vietą</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Atnaujinti'}) }}

    <a href="{{ path('user_show', {'id': app.user.id}) }}">Atgal</a>

{% endblock %}
