{% extends 'base.html.twig' %}

{% block title %}Mano vieta{% endblock %}

{% block body %}
        <div class="container">
            <h1>Pasirinkite savo vietą</h1>
            <div id="map"></div>
            {{ include('location/_form.html.twig') }}
            <div class="col-md-6 form-padding-right">
                <button class="btn btn-danger"><a href="{{ path('user_show', {'id': app.user.id}) }}">Grįžti</a></button>
            </div>
        </div>
    </div>
{% endblock %}
