<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="logo" src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo4.png" />
        </div>
        <div class="col-sm-6">
            <ul class="header-menu">
                <li><a href="#">Apie mus</a></li>
                <li><a href="#">Sąrašas</a></li>
                <li><a href="#">Prisijungti</a></li>
            </ul>
        </div>
    </div>
</div>