// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//Main colors
$heading: #5BA045;
$headingHover: #497d38;
$call: #FF4B05;
$callHover: #D13E05;
$elements: #c1c1c1;
$warning: #A33004;
$warningHover: rgb(139, 42, 3);
$second: #464655;

body {
  background-color: #fafafa;
}

h1{
  font-size: 2em;
  color: $heading;
  margin-top: 45px;
  margin-bottom: 0;
}

h2{
  color: $heading;
}

h3{
  color: $heading;
}

a {
  text-decoration: none;
  color: #171a1d;
}

a:hover{
  text-decoration: none;
  color: #535659;
}

.logo {
  margin-top: 50px;
  max-width: 200px;
}

.header-menu {
  margin-top: 50px;
  float: right;
}

.header-menu li {
  display: inline;
  list-style:  none;
  padding-left: 31px;
}

.footer {
  border-top: 1px solid $elements;
}

.footer span {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;
  color: $elements;
}

.login {
  max-width: 400px;
  margin: 50px auto;
}

.login input {
  margin-bottom: 10px;
}

.call-to-btn {
  padding: 5px 20px;
  background-color: $call;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.call-to-btn:hover {
  color: #fff;
  background-color: $callHover;
}
.call-to-btn-green {
  padding: 5px 20px;
  background-color: $heading;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.call-to-btn-green:hover {
  background-color: $headingHover;
  color: #fff;
}

.call-to-btn-red {
  padding: 5px 20px;
  background-color: $warning;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.call-to-btn-red:hover {
  background-color: $warningHover;
  color: #fff;
}

.cancel-txt {
  margin: 0 15px;
}

.reg-input {
  max-width: 400px;
}

.login .form-control {
  margin-bottom: 10px;
}

.login a {
  margin-left: 30px;
}

.reg-btn {
  margin-top: 20px;
}

.navbar-light .navbar-toggler {
  margin-top: 30px;
}

.upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.up-btn {
  border: 1px solid #CED4DA;
  color: #6C757D;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  min-height: 93px;
  cursor: pointer;
}

.up-btn:hover {
  background-color: $elements;
}

.upload-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.add-width {
  margin: auto;
}

.add-btn {
  float: right;
  margin: 20px 0 45px;
}

.form-block {
  margin: 45px 0;
}

.form-label label {
  display:none;
}

.form-space {
  margin-bottom: 10px;
}

.form-check {
  margin-top: 20px;
}

.form-padding-right {
  padding-right: 5px;
}

.form-padding-left {
  padding-left: 5px;
}

.title-margin-left {
  margin-left: 15px;
}

.form-message {
  min-height: 150px;
}

//.vich-image {
//  display: none;
//}
//
//.form-not-visible {
//  display: none;
//}

.profile-box {
  border: 1px solid $elements;
  border-radius: 4px;
  margin-top: 15px;
}

.no-avatar {
  width:78px;
}

.profile-btn-block {
  padding-top: 10px;
  text-align: center;
}

.profile-btn-margin {
  margin-bottom: 10px;
}

.user-products-list {
  margin-bottom: 15px;
  border-bottom: 1px solid $elements;
}

.user-products-list:last-child {
  border-bottom: none;
}

.user-profile-list-picture {
  padding-bottom: 15px;
  width: 200px;
}

.product-box {
  border: 1px solid $elements;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 500px;
}

.product-avatar {
  width: 50px;
  height: 100%;
  border-radius: 50%;
}

.product-avatar-profile{
  width: 78px;
  height: 100%;
  border-radius: 50%;
}

.product-user {
  position: relative;
  top: -64px;
  background-color: #00000057;
  color: #fff;
  padding: 7px;
  min-height: 64px;
}

.product-avatar-user {
  margin-left: 5px;
}

.product-list-title {
  margin-top: -50px;
  padding-left: 10px;
  color: $call;
}

.title {
  color: $heading;
}

.product-list-img {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  width: 100%;
}

.product-list-description {
  padding-left: 10px;
  font-size: 0.9em;
}

.product-list-deadline {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: $second;
}

.product-list {
  margin-top: 45px;
}

.user-profile-head-title{
  margin-top: 45px;
  margin-bottom: 15px;
}

#location {
  display: none;
}

.back-btn {
  display: block;
  margin: 20px 0;
}

.map-save-btn {
  margin-top:15px;
  float: right;
}

#map {
  margin-top: 25px;
}

//for other screens

@media screen and (max-width: 575px ) {
  .form-padding-right {
    padding-right: 15px;
  }

  .form-padding-left {
    padding-left: 15px;
  }
}

//#centerAligned {
//  top: 40%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  position: absolute;
//}

#centerAlignedContainer {
  position: relative;
  height: 100vh;
}

.btn {
  background-color: white;
  color: black;
  border-width: 2px;
}

.fas {
  color: $call;
}

.fas:hover {
  color: $callHover;
}

.far{
  color: $warning;
}

.far:hover{
  color: $warningHover;
}

.fas.fa-envelope {
  color: white;
}