// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

//Main colors
$heading: #5BA045;
$headingHover: #497d38;
$call: #FF4B05;
$callHover: #D13E05;
$elements: #c1c1c1;


body {
  background-color: #fafafa;
}

h1{
  font-size: 2em;
  color: $heading;
  margin-top: 45px;
  margin-bottom: 0;
}

h2{
  color: $heading;
}

h3{
  color: $heading;
}

a {
  text-decoration: none;
  color: #171a1d;
}

a:hover{
  text-decoration: none;
  color: #535659;
}

.logo {
  margin-top: 50px;
  max-width: 200px;
}

.header-menu {
  margin-top: 50px;
  float: right;
}

.header-menu li {
  display: inline;
  list-style:  none;
  padding-left: 31px;
}

.footer {
  border-top: 1px solid $elements;
}

.footer span {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;
  color: $elements;
}

.login {
  max-width: 400px;
  margin: 50px auto;
}

.login input {
  margin-bottom: 10px;
}

.call-to-btn {
  padding: 5px 20px;
  background-color: $call;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.call-to-btn:hover {
  color: #fff;
  background-color: $callHover;
}
.call-to-btn-green {
  padding: 5px 20px;
  background-color: $heading;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.call-to-btn-green:hover {
  background-color: $headingHover;
  color: #fff;
}

.cancel-txt {
  margin: 0 15px;
}

.reg-input {
  max-width: 400px;
}

.login .form-control {
  margin-bottom: 10px;
}

.login a {
  margin-left: 30px;
}

.reg-btn {
  margin-top: 20px;
}

.navbar-light .navbar-toggler {
  margin-top: 30px;
}

.upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.up-btn {
  border: 1px solid #CED4DA;
  color: #6C757D;
  background-color: #fff;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  min-height: 93px;
  cursor: pointer;
}

.up-btn:hover {
  background-color: $elements;
}

.upload-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}

.add-width {
  margin: auto;
}

.add-btn {
  float: right;
  margin: 20px 0 45px;
}

.form-block {
  margin: 45px 0;
}

.form-label label {
  display:none;
}

.form-space {
  margin-bottom: 10px;
}

.form-check {
  margin-top: 20px;
}

.form-padding-right {
  padding-right: 5px;
}

.form-padding-left {
  padding-left: 5px;
}

.title-margin-left {
  margin-left: 15px;
}

.form-message {
  min-height: 150px;
}

//.vich-image {
//  display: none;
//}
//
//.form-not-visible {
//  display: none;
//}

.profile-box {
  border: 1px solid $elements;
  border-radius: 4px;
}

.no-avatar {
  width:78px;
}

.profile-btn-block {
  padding-top: 10px;
  text-align: center;
}

.profile-btn-margin {
  margin-bottom: 10px;
}

@media screen and (max-width: 575px ) {
  .form-padding-right {
    padding-right: 15px;
  }

  .form-padding-left {
    padding-left: 15px;
  }
}
