{% extends 'base.html.twig' %}

{% block title %}Naujas produktas{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <h1>Įkelkite naują produktą</h1>
            </div>
        </div>

        {{ include('product/_form.html.twig') }}
    </div>

{% endblock %}
