{% extends 'base.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="call-to-btn map-save-btn">{{ button_label|default('Išsiųsti žinutę') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
