
{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <img src=
             "http://2pujxg3wakrdxpntc3ghxvax.wpengine.netdna-cdn.com/wp-content/uploads/2016/11/Page-not-found-404-error.jpg">
    </div>
{% endblock %}

