<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Ar tikrai norite ištrinti skelbimą?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="call-to-btn-red">Ištrinti <vartotoją></vartotoją></button>
</form>
