{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 text-center">
                <h1>Atnaujinkite savo duomenis</h1>
            </div>
        </div>

        {{ include('user/_form.html.twig', {'button_label': 'Atnaujinti duomenis'}) }}
    </div>
{% endblock %}
