{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Redaguoti savo duomenis</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Atnaujinti duomenis'}) }}

    <button class="btn btn-warning my-2"><a href="{{ path('user_index') }}">Grįžti</a></button>

{% endblock %}
