{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 title-margin-left">
                <h1>Slaptažodžio keitimas</h1>
            </div>
        </div>
        {{ include('user/_editPassword.html.twig', {'button_label': 'Išsaugoti slaptažodį'}) }}
    </div>

{% endblock %}