{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Keisti slaptažodį</h1>

    {{ include('user/_editPassword.html.twig', {'button_label': 'Išsaugoti slaptažodį'}) }}
    <button class="btn btn-warning my-2"><a href="{{ path('user_show', {id: app.user.id})  }}">Grįžti</a></button>

{% endblock %}